<%= form_with model: [@classroom, @student] do |form| %>
    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name,  class: "form-control", placeholder: "Change Student Name" %>
    </p>
    <p>
      <%= form.submit %>
    </p>
<% end %>